[submodule "openai-cookbook"]
	path = doc
	url = https://github.com/openai/openai-cookbook.git
	branch = main
[submodule "cookbook"]
	path = docs
	url = https://github.com/openai/openai-cookbook.git
	branch = main
